<div class="container">
    <h4>Add Demos</h4>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <!-- we will place our fields here -->
        <h4><strong>{{cust.firstname}} {{cust.lastname}}</strong></h4>
    
                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div formArrayName="rackets">
                    <div *ngFor="let racket of myForm.controls.rackets.controls; let i=index" class="panel panel-default">
                      <div class="panel-heading">
                        <span>Racket {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.rackets.controls.length > 1" (click)="removeRackets(i)"></span>
                      </div>
                      <div class="panel-body" [formGroupName]="i">
                        <div class="form-group col-xs-6">
                          <label></label>
                          <input type="text" class="form-control" formControlName="name">
                          <small [hidden]="myForm.controls.rackets.controls[i].controls.name.valid" class="text-danger">
                              Namw is required
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <input type="date" formControlName="date" required>
                  <div class="margin-20">
                    <a (click)="addRackets()" style="cursor: default">
                      Add another Rackets +
                    </a>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
</div>