<div class="container">
  <h1>Edit Customer</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="UpdateCustomer(customer._id)" #customerForm="ngForm">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="customer.firstname" name="firstname" required>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="customer.lastname" name="lastname" required>
        </div>
        <div class="form-group">
          <label for="name">Phone Number</label>
          <input type="text" class="form-control" [(ngModel)]="customer.PhoneNum" name="PhoneNum" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="customer.email" name="email" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>