<div class="container">
  <h1>Custs List
    <a [routerLink]="['/cust-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>FName</th>
        <th>Lname</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let custs of custs">
        <td>{{ custs.firstname}}</td>
        <td>{{ custs.lastname }}</td>
        <td>{{ custs.PhoneNum }}</td>
        <td>{{ custs.email }}</td>
        <td>Show Detail</td>
      </tr>
    </tbody>
  </table>
</div>
