<div class="container">
  <h1>Customers
    <a [routerLink]="['/cust-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let custs of custs">
        <td>{{ custs.firstname}}</td>
        <td>{{ custs.lastname }}</td>
        <td>{{ custs.PhoneNum }}</td>
        <td>{{ custs.email }}</td>
        <a [routerLink]="['/cust-details', custs._id]">Show Details</a>
        <a [routerLink]="['/demo-create', custs._id]">Add Rackets</a>
      </tr>
    </tbody>
  </table>
</div>
